@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #222222;
}
.card {
  width: 90%;
  max-width: 470px;
  /* background: linear-gradient(135deg, #00feba, #5b548a); */
  background: linear-gradient(135deg,	#62a1c7,#91cfec);
  color: #ffffff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  background: #ebfffc;
  border-radius: 30px;
  height: 60px;
}
.searchBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inp {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 0.3rem;
  font-size: 18px;
}
.searchBox button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.searchBox button img {
  width: 22px;
}
.weather img{
    width: 8rem;
    margin-top: 1rem;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 3rem;
    margin-right: 0.6rem;
}
.humidity, .wind{
    font-size: 1.75rem;
    margin-top: -6px;
}
.weather{
  display: none;
}
.error{
  text-align: left;
  margin-left: 10px;
  font-size: 0.8rem;
  margin-top: 10px;
  display: none;
}